<div id="cont">
	<div id="sidebar">
		<ul id="main_nav">
			<!-- BEGIN menuItem -->
			<li>
				<a href="{ADMIN_URL}/{link}/">
					<span class="{class}" style="float:right; margin:6px;"></span>{title}</a>
				<!-- BEGIN submenu -->
				<ul>
					<!-- BEGIN submenuItem -->
					<li>
						<a href="{ADMIN_URL}/{link}/"><span class="{class}" style="float:right; margin:6px;"></span>{title}</a>
					</li><!-- END submenuItem -->
				</ul><!-- END submenu -->
			</li>
			<!-- END menuItem -->
		</ul>
	</div>
<div id="main_cont">