<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!--header section -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/dashboard/"><img src="/_elements/img/logo.png"></a>
		</div>
		<!-- menu section -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>{adminLink}</li>
				<li><a href="/dashboard/">Dashboard</a></li>
				<li><a href="javascript:;">Sales</a></li>
				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" href="#technical">Technical Info
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class=""><a href="/dashboard/technical/?cat=4">Illustrated Parts Catalogs</a></li>
						<li class=""><a href="/dashboard/technical/?cat=5">Operations Manuals</a></li>
						<li class=""><a href="/dashboard/technical/?cat=6">Maintenance Manuals</a></li>
						<li class=""><a href="/dashboard/technical/?cat=12">Bulletins</a></li>
						<li class=""><a href="/dashboard/technical/?cat=8">Schematics</a></li>
					</ul>
				</li>
				<li><a href="http://terexparts.terex.com/AsvDealerOnline/index.jsp" target="_blank">Parts Ordering</a></li>
				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" href="#training">Training
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class=""><a href="/courses/">Service Training</a></li> 
					</ul>
				</li>
				<li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Marketing
							<span class="caret"></span>
					</a>
					<ul  class="dropdown-menu">
						<li class=""><a href="/dashboard/marketing/?cat=13">Contact Directory and Territory Maps</a></li>
						<li class=""><a href="/dashboard/marketing/?cat=14">Advertising & Promotions Program</a></li>
						<li class=""><a href="/dashboard/marketing/?cat=15">Gallery</a></li>
						<li class=""><a href="https://business.landsend.com/store/asvllc/" target="_blank">The New Gear!</a></li>
						<li class=""><a href="/dashboard/marketing/?cat=17">Literature</a></li>
						<li class=""><a href="/dashboard/marketing/?cat=18">Competitive Comparison</a></li>
						<li class=""><a href="/dashboard/marketing/?cat=7">Sales Bulletins</a></li>
						<li class=""><a href="/dashboard/marketing/?cat=19">Logos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Warranty
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class=""><a href="http://www.terexwarranty.com" target="_blank">Terex ASV Warranty System</a></li>
						<li class=""><a href="/dashboard/warranty/?cat=20">Standard Warranty</a></li>
						<li class=""><a href="/dashboard/warranty/?cat=21">Extended Warranty</a></li>
					</ul>
				</li>
				<li><a href="/?logout=1">[Logout]</a></li>
			</ul>
		</div>
	</div>
</nav>