/*typekit styles
light - font-weight: 300;
regular - font-weight: 400;
semibold - font-weight: 600;
bold - font-weight: 700;
*/

html {
	margin: 0; 
	padding: 0;
	height: 100%;
}

body {
	font-family: "chaparral-pro-n6", "chaparral-pro",sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0; 
	padding: 0;
	height: 100%;
	color: #392210;
}

body.home {
	background: url(/_elements/img/bg-site-scenic.jpg) #cda87f no-repeat top center;
}

body.inside {
	background: url(/_elements/img/bg-site-golf.jpg) #cda87f no-repeat top center;
}

body.inside-musical {
	background: url(/_elements/img/bg-site-musical.jpg) #cda87f no-repeat top center;
}

body.inside-hotel {
	background: url(/_elements/img/bg-site-rough-riders.jpg) #cda87f no-repeat top center;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

h1 {
	color: #392210;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h2 {
	color: #392210;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 5px;
}	

h2 a {color: #392210;}

h3 {
	color: #392210;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

h3 a {color: #392210;}	

h4 {font-size: 18px; font-weight: 600; margin-bottom: 5px;} 	

h5 {margin-bottom: 5px; font-size: 16px; font-weight: 600;}	

h6 {margin-bottom: 5px; font-weight: 600;}	

p {padding: 0; margin: 0px 0px 10px 0px;}

blockquote {
	margin: 0 24px;
}

blockquote p {}

ol, ul {}

ul li {}
 
input, textarea, select, option {}

a {
	text-decoration: none;
	color: #d4582a;
}

#wrap {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom: 475px;
}

#container {
	margin:0 auto;
	width: 1014px;
	position: relative;
	z-index: 100;
}

#header {
	float: left;  
	background: url(/_elements/img/bg-header.png) no-repeat top center;
	width: 1014px;
	height: 96px;
	position: absolute;
	z-index: 200;
}

/**/
#bg {
	background: url(/_elements/img/bg-menu.png) no-repeat top center; 
	position: absolute; 
	height: 262px; 
	width: 995px; 
	margin-left: 9px; 
	z-index: 0;
	display: none;
}


ul#nav {padding: 25px 0px 0px 50px;}
ul#nav li {display: inline; padding: 0px 50px 0px 0px; margin: 0;}
ul.drop a {display:block; color: #392210; font-weight: 700; font-size: 26px;}
/*ul.drop a:hover {{color: #fdbf77;}*/
ul.drop, ul.drop li, ul.drop ul {list-style: none; margin: 0; padding: 0;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; vertical-align: middle; zoom: 1; padding: 0px 5px; }

/*ul.drop li.hover, ul.drop li:hover {}*/

/*ul.drop li:hover #bg {visibility: visible;}*/
/*ul.drop:hover {height: 250px; margin-top: 0px; position: absolute; z-index: 0;}*/
ul.drop ul { display: none; position: absolute; left: 0; z-index: 598; width: 225px;}
ul.drop ul li {float: left; width: 225px;}
ul.drop ul ul { top: 0px; left: 100%;}
/*ul.drop li:hover > ul {color: #fdbf77; padding: 0px;}*/
ul.drop ul li a {color: #fdbf77; font-size: 14px; font-weight: 600; margin: 0px 0px 0px 0px; padding: 0px 0px 1px 0px; display: block;}
/*ul.drop ul li a:hover {color: #FFF;}*/

#page {margin-top: 96px; float: left;}

#logo {
	float: left; 
	padding: 0px 0px 0px 10px;
	width: 492px;
}
#number {
	color: #fff; 
	font-size: 24px; 
	font-weight: 700;
	text-shadow: 0px 2px 2px rgba(57, 34, 16, 0.99);
	float: right;
	padding: 0px 20px 0px 0px; 
	width: 492px;
	/*height: 120px;*/
	text-align: right;
	margin-bottom: 5px;
}

#reservations-menu {
	width: 245px;
	float: right;
	padding: 0;
	background: url(/_elements/img/dd-reservations.png) no-repeat; 
	height: 38px;
	cursor: pointer;
	z-index: 300;
	position: absolute;
	top: 150px;
	left: 760px;
}

#reservations-menu .header {
	padding: 9px 0px 0px 15px;
	font-weight: 700;
	font-size: 18px;
	color: #392210;
	float: left;
}

#reservations-menu .options {
	display: none; 
	float: left; 
	text-align: left;
	background: url(/_elements/img/dd-options.png) no-repeat; 
	width: 245px;
	height: 112px;
	padding-left: 3px;
	margin-top: 5px;
	z-index: 200;
	position: absolute;
	top: 22px;
	font-weight: 600;
}

#reservations-menu .options ul {margin-top: 15px;}
#reservations-menu .options ul li { float: left;}
#reservations-menu .options ul li a {font-size: 14px; color: #392210; padding: 3px 10px; float: left; width: 217px;}
#reservations-menu .options ul li a:hover {background: #fdbf77; width: 235px; float: left; padding: 3px 10px; width: 217px;}

#promo {
	/*width: 1000px;*/
	color: #fdbf77;
	line-height: 18px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	position: absolute;
	top: 210px;
}

#content {
	background: rgba(57,34,16,0.85);
	padding: 20px;
	width: 356px;
	float: left;
}

#promo.right {
	float: right;
	left: 590px;
}

#promo .header {
	font-weight: 600; 
	text-transform: uppercase; 
	font-size: 16px; 
}

#footer {
	position: relative;
	margin-top: -575px; 
	height: 575px;
	clear:both;
	background: #392210;
	padding-top: 140px;
	z-index: 0;
}

#footer-carousel {margin: 0 auto; width: 1014px;}

#footer ul {margin: 0 auto; width: 1014px;}

#footer ul li {
	display: inline; 
	float: left; 
	padding-bottom: 1px;
}

#footer ul li a {
	color: #fdbf77; 
	font-weight: 600; 
	font-size: 14px;
}

#footer ul li ul {margin-top: 3px;}

#footer ul li ul li a {
	font-weight: 400; 
	font-size: 12px;
}

#footer ul li.do {width: 100px;}
#footer ul li.do ul {width: 100px; display: block; float: left;}
#footer ul li.do ul li {display: block; width: 100px;}

#footer ul li.stay {width: 130px;}
#footer ul li.stay ul {width: 130px; display: block; float: left;}
#footer ul li.stay ul li {display: block; width: 130px;}

#footer ul li.eat {width: 180px;}
#footer ul li.eat ul {width: 180px; display: block; float: left;}
#footer ul li.eat ul li {display: block; width: 180px;}

#footer ul li.plan {width: 110px;}
#footer ul li.plan ul {width: 110px; display: block; float: left;}
#footer ul li.plan ul li {display: block; width: 110px;}

#footer ul li.about {width: 110px;}
#footer ul li.about ul {width: 110px; display: block; float: left;}
#footer ul li.about ul li {display: block; width: 110px;}

#footer ul li.groups {width: 100px;}
#footer ul li.groups ul {width: 100px; display: block; float: left;}
#footer ul li.groups ul li {display: block; width: 100px;}

#footer ul li.press {width: 100px;}
#footer ul li.press ul {width: 100px; display: block; float: left;}
#footer ul li.press ul li {display: block; width: 100px;}

#footer ul li.employment {width: 180px;}
#footer ul li.employment ul {width: 180px; display: block; float: left;}
#footer ul li.employment ul li {display: block; width: 180px;}

#bottom {
	margin: 0 auto; 
	width: 1014px;
}

#bottom .left {float: left; width: 440px;}

#bottom .middle {
	float: left; 
	width: 184px; 
	text-align: center;
	color: #fdbf77;
	font-size: 18px;
	text-shadow: 0px 2px 2px rgba(26, 14, 6, 0.99);
	font-weight: 700;
}
#bottom .right {
	float: left; 
	width: 270px; 
	padding-right: 20px;
	margin-left: 100px;
	margin-top: 30px;
}

.btn-reservation {
	background: url(/_elements/img/btn-reservation.png) no-repeat;
	width: 203px;
	height: 28px;
	float: left;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	padding-top: 8px;
	
}

.btn-reservation a {color: #392210;}
.btn-reservation a:hover {color: #d4582a;}

#copyright {color: #fff; line-height: 16px; font-size: 13px;}
#social {float: left; margin-top: 16px;}
#social img {float: left; margin-right: 7px;}

.input-enews {
	background: url(/_elements/img/bg-enews.png) no-repeat;
	width: 138px;
	height: 30px;
	float: left;
	border: 0;
	padding: 0px 5px;
	margin-top: 24px;
	font-family: "chaparral-pro",sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.btn-enews {
	background: url(/_elements/img/btn-enews.png) no-repeat;
	width: 29px;
	height: 30px;
	float: left;
	border: 0;
	padding: 0px 3px;
	margin-top: 24px;
	cursor: pointer;
}



#copyright a {color: #FFF;}


#home-top-spur {
	background: url(/_elements/img/bg-home-top-spur.png) no-repeat;
	width: 1014px;
	height: 24px;
	float: left;
}

#home {
	background: url(/_elements/img/bg-home.png) repeat-y;
	float: left;
	width: 1014px;
	min-height: 1125px;
}

#home-bottom-spur {
	background: url(/_elements/img/bg-home-bottom-spur.png) no-repeat;
	width: 1014px;
	height: 28px;
	float: left;
}

#home .left {
	float: left; 
	margin-top: 27px; 
	padding: 0px 0px 0px 30px; 
	width: 373px;
}

#arrow {
	position: absolute;
	background: url(/_elements/img/arrow.png) no-repeat;
	width: 150px;
	height: 150px;
	margin: 100px 0px 0px -91px;
}

#my-medora {
	background: url(/_elements/img/bg-my-medora-home.png) no-repeat;
	width: 373px;
	height: 79px;
	padding: 150px 0px 0px 0px;
	font-size: 16px; 
	text-align: center;
	margin-bottom: 30px;
	float: left;
	cursor: pointer;
}

#upcoming-events {
	margin-bottom: 20px;
	float: left;
	width: 373px;
}

#upcoming-events .header {
	color: #fdbf77; 
	font-size: 30px; 
	font-weight: 600; 
	background: #321003; 
	padding: 9px 0px 6px 20px;
	margin-bottom: 20px;
}

#upcoming-events .header .end {
	font-weight: 700;
}

#upcoming-events .subheader {
	font-weight: 600; 
	font-size: 16px; 
	padding: 0px 20px 5px 20px;
}

#upcoming-events .subheader a {color: #392210;}

#upcoming-events p {
	padding: 0px 20px 0px 20px; 
	font-size: 14px;
}

.button {float: right;}

.btn-left {
	background: url(/_elements/img/btn-left.png) no-repeat; 
	width: 7px; 
	height: 30px; 
	float: left;
}

.btn-bg {
	background: url(/_elements/img/btn-bg.png) repeat-x; 
	float: left; 
	font-weight: 700; 
	font-size: 14px; 
	height: 22px; 
	padding-top: 8px; 
	padding-left: 3px; 
	padding-right: 3px;
}

.btn-bg a {color: #392210;}

.btn-bg a:hover {color: #d4582a;}

.btn-right {
	background: url(/_elements/img/btn-right.png) no-repeat; 
	width: 6px; 
	height: 30px; 
	float: left;
}

#facebook {
	background: #FFF; 
	float: left;
	width: 373px;
}

#home .right {
	float: left; 
	margin-top: 27px; 
	padding: 0px 0px 0px 30px; 
	width: 555px;
}

#reservations {
	background: url(/_elements/img/bg-reservations.png) no-repeat;
	width: 555px;
	height: 193px;
	float: left;
	text-align: center;
	padding-top: 38px;
	margin-bottom: 30px;
}

#reservations .header {
	color: #fdbf77; 
	font-weight: 600; 
	font-size: 28px;
}

#reservations .end {
	font-weight: 700;
}

#reservations p {
	font-size: 16px;
	color: #fdbf77;
	line-height: 18px;
}

#reservations .buttons {
	float: left;
	margin-left: 27px;
	margin-top: 20px;
}

.btn-reservations {
	background: url(/_elements/img/btn-reservations.png) no-repeat;
	width: 246px;
	height: 23px;
	padding-top: 7px;
	float: left;
	margin: 0px 9px 9px 0px;
}

.btn-reservations a {
	color: #392210; 
	font-size: 18px; 
	font-weight: 700;
}

.btn-reservations a:hover {color: #d4582a;}

#instagram {
	float: left; 
	width: 318px;
}

#instagram .mask {
	background: url(/_elements/img/instagram-mask.png) no-repeat;
	width: 286px;
	height: 293px;
	position: absolute;
	z-index: 400;
}

#instagram .photo {
	position: absolute; 
	z-index: 0;
}

#instagram .copy {
	position: relative; 
	float: left; 
	margin-top: 300px; 
	padding-left: 10px; 
	width: 250px;
}

#trmf {
	float: left; 
	width: 230px; 
	line-height: 16px;
}

#trmf .header {
	margin-bottom: 20px; 
	float: left;
}

#trmf .photo {float: right;}

#trmf .button {margin-top: 20px;}

#blog-roll {
	margin-bottom: 0px;
	float: left;
	width: 547px;
	margin-top: 20px;
}

#blog-roll .header {
	color: #fdbf77; 
	font-size: 30px; 
	font-weight: 600; 
	background: #321003; 
	padding: 9px 0px 6px 20px;
	margin-bottom: 20px;
}

#blog-roll .header .end {
	font-weight: 700;
}

#blog-roll .subheader {
	font-weight: 600; 
	font-size: 16px; 
	padding: 0px 20px 5px 20px;
}

#blog-roll .subheader a {color: #392210;}

#blog-roll p {
	padding: 0px 20px 0px 20px; 
	font-size: 14px;
	line-height: 16px;
}

#blog-roll a {color: #fdbf77;}




/*carousel*/

.list_carousel {
	float: left; 
	width: 1014px;
	height: 181px;
	position: relative;
	background: url(/_elements/img/bg-carousel.png) no-repeat top center;
	padding-top: 20px;
}

.list_carousel ul {
	margin: -1px 0px 0px 60px;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	width: 50px;
	height: 50px;
	padding: 0;
	display: block;
	float: left;
	margin: 0px 5px 0px 0px;
}

.list_carousel li span {
	background: rgba(57,34,16,0.95); 
	display: block; 
	position: absolute;
	padding: 9px 20px; 
	text-align: center; 
	margin-top: 110px;
	color: #fdbf77; 
	font-size: 14px; 
	font-weight: 600;
	cursor: pointer;
}

span.featured {width: 288px;}

span.regular {width: 144px;}

.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	padding-top: 50px;
}
.next {
	float: right;
	top: 0;
	padding-top: 50px;
}

/*inside pages*/
#inside-top-spur {
	background: url(/_elements/img/bg-inside-top-spur.png) no-repeat;
	width: 1014px;
	height: 30px;
	float: left;
	margin-top: 150px;
}

#inside {
	background: url(/_elements/img/bg-inside.png) repeat-y;
	float: left;
	width: 1014px;
	min-height: 800px;
}

#inside-bottom-spur {
	background: url(/_elements/img/bg-inside-bottom-spur.png) no-repeat;
	width: 1014px;
	height: 25px;
	float: left;
}

#inside .left {
	float: left; 
	width: 203px;
	margin-left: 48px;
	margin-right: 43px;
	margin-top: 30px;
}

#left-grow {
	background: url(/_elements/img/bg-left-nav-grow.jpg) repeat-y;
	width: 203px;
	float: left;
	margin-bottom: 30px;
}

#left-nav-top-spur {
	background: url(/_elements/img/bg-left-nav-top-spur.jpg) no-repeat;
	width: 203px;
	height: 23px;
	float: left;
}

#left-nav {
	background: url(/_elements/img/bg-left-nav.jpg) no-repeat;
	float: left;
	width: 169px;
	min-height: 288px;
	padding-top: 11px;
	padding-left: 17px;
	padding-right: 17px;
}

#left-nav-bottom-spur {
	background: url(/_elements/img/bg-left-nav-bottom-spur.jpg) no-repeat;
	width: 203px;
	height: 15px;
	float: left;
}

#left-nav .header {font-size: 22px; font-weight: 700; margin-bottom: 3px;}
#left-nav ul {margin: 0px 0px 20px 10px;}
#left-nav ul li {padding: 0px 0px 7px 0px;}
#left-nav ul li a {font-size: 16px; font-weight: 700; color: #392210;}
#left-nav ul li a:hover {color: #d4582a;}

#left-nav ul ul {margin: 3px 0px 0px 0px;}
#left-nav ul ul li {margin: 0px 0px 3px 15px; padding: 0;}
#left-nav ul ul li a {background: url(/_elements/img/bullet-brown.png) no-repeat; font-size: 12px; padding: 0px 0px 0px 7px; font-weight: 600;}
#left-nav ul ul li a:hover {background: url(/_elements/img/bullet-orange.png) no-repeat;}
#left-nav ul ul li a.on {background: url(/_elements/img/bullet-orange.png) no-repeat; color: #d4582a;}

#left-nav ul ul ul {margin: 0px;}
#left-nav ul ul ul li {margin: 1px 0px 1px 7px; padding: 0;}
#left-nav ul ul ul li a {background: none; font-weight: 600;}
#left-nav ul ul ul li a:hover {background: none;}
#promo-my-medora {
	margin-bottom: 30px;
	float: left;
}
/*brown promo left side */
#brown .promo-top {
	width: 203px;
	height: 12px;
	float: left;
	background: url(/_elements/img/bg-promo-brown-top-spur.jpg) no-repeat; float: left;
}

#brown .promo {
	float: left;
	width: 175px;
	padding: 14px;
	color: #fdbf77;
	background: url(/_elements/img/bg-promo-brown.jpg) repeat-y;
}

#brown .promo-bottom {
	width: 203px;
	height: 12px;
	float: left;
	background: url(/_elements/img/bg-promo-brown-bottom-spur.jpg) no-repeat;
	margin-bottom: 30px;
}

#brown img {margin-left: -11px; margin-bottom: 5px;}

#tan .promo-top {
	width: 203px;
	height: 12px;
	float: left;
	background: url(/_elements/img/bg-promo-tan-top-spur.jpg) no-repeat; float: left;
}

#tan .promo {
	float: left;
	width: 175px;
	padding: 14px;
	color: #fdbf77;
	background: url(/_elements/img/bg-promo-tan.jpg) repeat-y;
}

#tan .promo-bottom {
	width: 203px;
	height: 12px;
	float: left;
	background: url(/_elements/img/bg-promo-tan-bottom-spur.jpg) no-repeat;
	margin-bottom: 30px;
}

#tan .promo .header {color: #392210;}
#tan .promo .subheader {color: #392210;}
#tan .promo p {color: #392210;}
#tan .promo .link a {color: #392210;}
#tan img {margin-left: -11px; margin-bottom: 5px;}

.promo .header {color: #FFF; font-weight: 700; font-size: 24px; margin-bottom: 5px;}
.promo .subheader {font-weight: 600; font-size: 16px; margin-bottom: 5px;}
.promo p {}
.promo .link {float: right;}
.promo .link a {color: #FFF;}

#inside .right {float: left; width: 667px; padding: 40px 0px;}
#inside .right .item {float: left; margin-top: 25px;}
#inside .right .item .left {width: 203px; float: left; margin: 0; padding: 0;}
#inside .right .item .middle {width: 311px; float: left;  margin: 22px 0px 0px 0px; padding: 0;}
#inside .right .item .middle h2 {margin-bottom: 25px;}
#inside .right .item .right {width: 153px; margin: 22px 0px 0px 0px; padding: 0;}

#inside .right #accordian {
	float: left;
	margin: 27px 0px;
}

#inside .right #accordian .item {float: left; width: 156px; margin: 16px 50px 16px 16px;}
#inside .right #accordian .item .left {float: left; width: 156px;}
#inside .right #accordian .item .middle {font-size: 20px; margin-top: 11px; text-align: center; width: 156px; margin-bottom: 16px;}
#inside .right #accordian .item .middle h3 {margin-bottom: 13px;}
#inside .right #accordian .item .right {width: 156px; float: left; margin: 0; text-align: center;} 

.divider-collapsed {
	background: url(/_elements/img/divider-open.jpg) no-repeat top right #392210;
	color: #fdbf77;
	font-size: 24px;
	font-weight: 600;
	float: left;
	padding: 5px 15px;
	width: 657px;
	cursor: pointer;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.divider {
	background: url(/_elements/img/divider-close.jpg) no-repeat top right #392210;
	color: #fdbf77;
	font-size: 24px;
	font-weight: 600;
	float: left;
	padding: 5px 15px;
	width: 657px;
	cursor: pointer;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#inside .right ul {
	margin: 10px 20px 20px 20px; 
}

#inside .right ul li {
	list-style: disc; 
	line-height: 20px;
}

 #inside .right ol {
	margin: 10px 20px 20px 25px; 
}

#inside .right ol li {
	list-style: decimal;
}

/*3 column template*/
.center {
	width: 405px;
	float: left;
	padding-right: 20px;
}

.more {
	width: 241px;
	float: left;
}

#inside .right .more .item {
	float: left; 
	margin: 0px 0px 30px 0px;
}

#inside .right .more .item .header {
	float: left; 
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 5px 0px;
}

#inside .right .more .item .header a {color: #392210;}


.center .my-medora {margin-bottom: 10px;}

.center table {margin-bottom: 20px;}
.center table th {border-bottom: 1px solid #cda87f; text-align: left; font-size: 16px; font-weight: 600; width: 405px;}
